                                          <%= form_for(@ad, html: {class: "form-validate-jquery", multipart: true}) do |f| %>
											<div class="row">
												<div class="col-md-6">
													<fieldset class="text-semibold">
														<legend><i class="icon-file-text position-left"></i> Thông tin cơ bản</legend>
														
														<div class="form-group">
															<label>Tiêu đề <span class="text-danger">*</span></label>
															<%= f.text_field :name, required: "required", class: "form-control" %>
														</div>
				
														<div class="form-group">
															<label>Mô tả <span class="text-danger">*</span></label>
															<%= f.text_area :description, required: "required", class: "form-control" %>
														</div>
													</fieldset>
												</div>
		
												<div class="col-md-6">
													<fieldset class="text-semibold">
														<legend><i class="icon-file-text position-left"></i> Cài đặt quảng cáo</legend>
																											
														<div class="form-group">
															<label>Vị trí đặt <span class="text-danger">*</span></label>
                                                            <%= f.select("ad_position_id", AdPosition.all.collect {|p| [ p.display_name, p.id ] }, { include_blank: "- Chọn vị trí -"} , {class: "select", required: "required" }) %>
														</div>
														<div class="form-group">
															<label>Hình ảnh <span class="text-danger">*</span></label>
															<input type="file" name="ad[image]" class="form-control file-styled" required="required">
															<span class="help-block">Định dạng ảnh: gif, png, jpg. Kích thước tối đa: 2Mb</span>
														</div>
													</fieldset>
												</div>
												
											</div>
	
											<div class="text-right">
												<button id="reset" class="btn btn-default" type="reset">Nhập lại <i class="icon-reload-alt position-right"></i></button>
												<button type="submit" class="btn btn-primary">Lưu <i class="icon-arrow-right14 position-right"></i></button>
											</div>
										
                                      <% end %>
