<% @pos.active_ads.each do |ad| %>
  
  <div class="ad_sidebar_item">
      <a href="#">
          <h4>Nội dung quảng cáo</h4>
          <img src="https://i.ytimg.com/vi/fxe3O7jxwdg/maxresdefault.jpg" />
      </a>
  </div>
  
<% end %>