<div class="ad_slider_4">
<ul class="iframe_4_wide_banners">
  <% @ads.each do |ad| %>
    <li>
      <a href="<%= click_ads_path(id: ad) %>" target="_blank">
        <img title="" src="<%= ad.image_src(:banner) %>" />
      </a>
      <a class="title" class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
        <%= ad.name %>
      </a>
    </li>
    
  <% end %>
</ul>
</div>