<ul class="iframe_3_wide_banners">
  <div class="loading"></div>
  <% @pos.active_ads.each do |ad| %>
    <li>
      <a href="<%= click_ads_path(id: ad) %>" target="_blank">
        <img title="" src="<%= ad.image_src(:banner) %>" />
      </a>
      <a class="title" class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
        <%= ad.name %>
      </a>
    </li>

  <% end %>
</ul>