<ul class="iframe_6_items_list">
  <% @ads.each do |ad| %>
    <li>
      <a href="<%= click_ads_path(id: ad) %>" target="_blank">
        <img title="" src="<%= ad.image_url(:banner) %>" />
      </a>
      <a class="title" href="<%= click_ads_path(id: ad) %>" target="_blank">
        <%= ad.name %>
      </a>
    </li>
    
    <% if params[:device] == "mobile" and num%2 == 1 %>
      </ul><ul class="iframe_6_items_list">
    <% end %>
    
  <% end %>
</ul>