<div class="form-group">
    <label>Xem trước quảng cáo</span></label>
    <div class="text-center">
      <div class="preview_box_image" style="width: 80%; max-width: <%= @ad_position.width %>px">
    
      </div>
    </div>
</div>

<script>
    var box_width = $(".ad_preview_box_1 .preview_box_image").width()
    if ($(".steps ul li.current #new_ad-t-0").length) {
        box_width = $(".ad_preview_box_0 .preview_box_image").width()
    }
    var box_height = box_width/<%= @ad_position.width.to_f/@ad_position.height.to_f %>
    $(".preview_box_image").height(box_height)
    $(".preview_box_image").width(box_width)
</script>