					<!-- Ajax sourced data -->
					<div class="panel panel-flat datatable_box">
						<div class="panel-heading">
							<h5 class="panel-title">Nội dung bài viết</h5>
						</div>						
						<div class="panel-body">
                          <h2 style="margin-top: 0"><%= @pb_areainfo.title %></h2>
                          <%= @pb_areainfo.content.html_safe %>
                        </div>
					</div>
					<!-- /ajax sourced data -->
					
					
