<div class="alert alert-success no-border">
    <button data-dismiss="alert" class="close" type="button"><span>×</span><span class="sr-only">Close</span></button>
    <span class="text-semibold">Thành công!</span> <%= @message.html_safe %>
</div>