.home_top_banner_frame {
    border: none;
    overflow: hidden;
    width: 100%;
}
.home_top_banner_3 {
    height: auto !important;
    margin-top: 6%;
    border-top: solid 1px #ddd;
}
.home_top_banner_3 .banner_item {
    height: auto !important;
    overflow-x: auto;
    width: 100% !important;
}
.home_top_banner_3_slide {
    width: 1315px;
}
.home_top_banner_frame {
    width: 100%;
    overflow: hidden;
    height: auto;
}
.home_top_banner_1_2 {
    width: 100%;
    border: none;
}
.home_top_banner_1 {
    width: 100%;
    border: none;
    margin-bottom: 6%;
}
.home_top_banner_2 {
    width: 100%;
    border: none;
    margin-bottom: 6%;
}
.home_top_banner_frame .home_top_banner_2 .banner_item ul li {
    float: left;
    width: 49% !important;
}
.home_top_banner_frame .home_top_banner_2 .banner_item ul li:last-child {
    float: right;
    line-height: 0;
}
.home_top_banner_frame .home_top_banner_1 .banner_item {
    width: 100% !important;
    height: auto !important;
}
.home_top_banner_frame .home_top_banner_1 .banner_item ul li {
    width: 100% !important;
}
.home_top_banner_frame .home_top_banner_2 .banner_item {
    width: 100% !important;
    height: auto !important;
}
.home_top_banner_frame .banner_item ul li a {
    float: left;
    width: 100%;
}
.home_top_banner_frame .banner_item ul li a {
    line-height: 0;
}
.home_top_banner_3mobile .banner_item {
    width: 100% !important;
    height: auto !important;
}
.home_top_banner_frame .home_top_banner_3mobile .banner_item ul li a {
    line-height: normal;
}
.home_top_banner_frame .home_top_banner_3mobile ul li {
    float: left;
    margin-right: 2%;
    width: 48.9%;
}
.home_top_banner_frame .home_top_banner_3mobile ul li:last-child {
    margin-right: 0;
}
.home_top_banner_3_slidemobile {
    margin-bottom: 2%;
}