body {
    margin: 0;
    padding: 0;
    font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
}
.home_top_banner_frame {
    float: left;
    border: solid 1px #eee;
    border-left: none;
    height: 639px;
}
.home_top_banner_1_2 {
    float: left;
    border-bottom: solid 1px #eee;
}
.home_top_banner_1 {
    float: left;
    border-right: solid 1px #eee;
}
.home_top_banner_2 {
    float: left;
}
.home_top_banner_3 {
}
.home_top_banner_frame .banner_item {
    float: left;
}
.home_top_banner_frame .banner_item ul {
    margin: 0;
    padding: 0;
}
.home_top_banner_frame .banner_item ul li {
    list-style: none;
    background: #fff;
}
.home_top_banner_frame .banner_item ul li a {
    text-decoration: none;
}
.home_top_banner_frame .banner_item ul li img {
    width: 100%;
}
.home_top_banner_frame .bx-wrapper .bx-viewport {
    border: none;
    box-shadow: none;
    left: 0
}
.home_top_banner_3_slide {
    
}
.home_top_banner_3_slide li {
    border-right: 1px solid #eee;
    float: left;
    text-align: center;
    height: 258px;
}
.home_top_banner_3_slide li:last-child {
    
}
.home_top_banner_3_title {
    color: #333;
    font-weight: bold;
}
.home_feature_4_images_group {
    width: 573px;
    background: #fff;
}
.home_feature_4_images_group img {
    width: 100%;
}
.home_feature_4_images_group .box {
    float: left;
    border: solid 1px #ddd;
    overflow: hidden;
}
.home_feature_4_images_group .box_1 {
    border-right: medium none;
    height: 417px;
    overflow: hidden;
    width: 430px;
}
.home_feature_4_images_group .box_1 img {
    height: 417px;
    width: 430px;
}
.home_feature_4_images_group .box_2 {
    width: 140px;
    height: 138px;
    border-bottom: none;
}
.home_feature_4_images_group .box_3 {
    width: 140px;
    height: 138px;
    border-bottom: none;
}
.home_feature_4_images_group .box_4 {
    width: 140px;
    height: 138px;
}
.home_feature_4_images_group .box_2 img {
    width: 140px;
    height: 140px;
}
.home_feature_4_images_group .box_3 img {
    width: 140px;
    height: 140px;
}
.home_feature_4_images_group .box_4 img {
    width: 140px;
    height: 140px;
}
.box_4_banner_title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    margin: 0;
    padding: 10px;
    width: 551px;
    background: #fff;
    height: 38px;
}
.box_4_banner_title h3 {
    font-size: 16px;
    margin: 0;
}
.box_4_banner_title p {
    font-size: 14px;
    margin: 0;
}
.home_feature_3_images_group {
    width: 267px;
    background: #fff;
}
.home_feature_3_images_group img {
    width: 100%;
}
.home_feature_3_images_group .box {
    float: left;
    border: solid 1px #ddd;
    overflow: hidden;
}
.home_feature_3_images_group .box_1 {
    border-bottom: medium none;
    height: 265px;
    overflow: hidden;
    width: 265px;
}
.home_feature_3_images_group .box_1 img {
    height: 265px;
    width: 265px;
}
.home_feature_3_images_group .box_2 {
    width: 132px;
    height: 132px;
    border-right: none;
}
.home_feature_3_images_group .box_3 {
    width: 132px;
    height: 132px;
}
.home_feature_3_images_group .box_2 img {
    width: 132px;
    height: 132px;
}
.home_feature_3_images_group .box_3 img {
    width: 132px;
    height: 132px;
}
.box_3_banner_title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    margin: 0;
    padding: 10px;
    width: 245px;
    background: #fff;
    height: 38px;
}
.box_3_banner_title h3 {
    font-size: 16px;
    margin: 0;
}
.box_3_banner_title p {
    font-size: 14px;
    margin: 0;
}
.home_top_banner_3_slide {
    float: left;
    margin-left: -100px;
    width: 2110px;
}
.home_top_banner_3 {
    float: left;
    height: 259px;
    width: 979px;
    overflow: hidden;
}
.home_top_banner_3_slide {
    float: left;
    width: 9000px;
    position: absolute;
    position: relative
}
.home_top_banner_3_slide li {
    width: 195px;
}
.iframe_6_items_list {
    float: left;
    margin: 23px 0 0 0;
    padding: 0;
}
.iframe_6_items_list li img {
    width: 181px;
    height: 181px;
}
.iframe_6_items_list li {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #aaa;
    height: auto;
    margin-bottom: 12px;
    margin-right: 19px;
    width: 179px;
    list-style: none;
    float: left;
    overflow: hidden;
}
.iframe_6_items_list li a {
    
}
.iframe_6_items_list li a.title {
    color: #333;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}


.iframe_3_wide_banners {
    margin: 0;
    padding: 0;
}
.iframe_3_wide_banners li {
    float: left;
    list-style: outside none none;
    border: solid 1px #aaa;
    margin-right: 20px;
    height: 140px;
    position: relative;
    width:380px;
    overflow: hidden;
}
.iframe_3_wide_banners li a {
    color: #333;
    display: block;
    text-align: center;
    text-decoration: none;
}
.iframe_3_wide_banners li a.title {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    margin-top: -23px;
    position: absolute;
    width: 100%;
    color: #fff;
}
.iframe_3_wide_banners li a img {
    
}
.home_top_banner_frame .loading {
    background: #fff url("../../img/ajax_loading.gif") no-repeat scroll center center;
    display: block;
    height: 640px;
    position: absolute;
    width: 979px;
    z-index: 100;
}