.home_top_banner_frame {
    border: none;
    overflow: hidden;
    width: 100%;
}
.home_top_banner_3 {
    height: auto !important;
    margin-top: 6%;
    border-top: solid 1px #ddd;
}
.home_top_banner_3 .banner_item {
    height: auto !important;
    overflow-x: auto;
    width: 100% !important;
}
.home_top_banner_3_slide {
    width: 1315px;
}
.home_top_banner_frame {
    width: 100%;
    overflow: hidden;
    height: auto;
}
.home_top_banner_1_2 {
    width: 100%;
    border: none;
}
.home_top_banner_1 {
    width: 100%;
    border: none;
    margin-bottom: 6%;
}
.home_top_banner_2 {
    width: 100%;
    border: none;
    margin-bottom: 6%;
}
.home_top_banner_frame .home_top_banner_2 .banner_item ul li {
    float: left;
    width: 49% !important;
}
.home_top_banner_frame .home_top_banner_2 .banner_item ul li:last-child {
    float: right;
    line-height: 0;
}
.home_top_banner_frame .home_top_banner_1 .banner_item {
    width: 100% !important;
    height: auto !important;
}
.home_top_banner_frame .home_top_banner_1 .banner_item ul li {
    width: 100% !important;
}
.home_top_banner_frame .home_top_banner_2 .banner_item {
    width: 100% !important;
    height: auto !important;
}
.home_top_banner_frame .banner_item ul li a {
    float: left;
    width: 100%;
}
.home_top_banner_frame .banner_item ul li a {
    line-height: 0;
}
.home_top_banner_3mobile .banner_item {
    width: 100% !important;
    height: auto !important;
}
.home_top_banner_frame .home_top_banner_3mobile .banner_item ul li a {
    line-height: normal;
}
.home_top_banner_frame .home_top_banner_3mobile ul li {
    float: left;
    margin-right: 2%;
    width: 48.9%;
}
.home_top_banner_frame .home_top_banner_3mobile ul li:last-child {
    margin-right: 0;
}
.home_top_banner_frame ul.home_top_banner_3_slidemobile {
    float: left;
    margin-bottom: 2%;
    width: 100%;
}
.home_top_banner_3_title {
    padding: 5px;
}
.home_top_banner_3_price {
    padding: 0 5px 5px;
}
.hidden {
    display: none !important;
}
.box_4_banner_title {
    width: 93%;
}
.home_feature_4_images_group .box_1 img {
    height: auto;
    width: 100%;
}
.home_feature_4_images_group {
    width: 100%;
}
.home_feature_4_images_group .box {
    height: auto;
    width: 25%;
}
.home_feature_4_images_group .box {
    display: block;
    line-height: 0;
}
.home_feature_4_images_group .box img {
    height: auto;
    width: 100%;
}
.home_feature_4_images_group .box_1 {
    height: auto;
    width: 73.95%;
}

.box_4_banner_title p {
    display: block;
    font-size: 14px;
    height: 17px;
    margin: 0;
    overflow: hidden;
}
h3 {
    margin: 10px 0;
}
p {
    margin: 0 0 10px 0;
}
.ddd {
    height: 55px;
    overflow: hidden;
    padding: 10px 0;
}
.home_feature_3_images_group .box_1 img {
    height: auto;
    width: 100%;
}
.home_feature_3_images_group .box {
    width: 49%;
    height: auto;
}
.home_feature_3_images_group .box img {
    height: auto;
    width: 100%;
}
.home_feature_3_images_group .box_1 {
    border-bottom: medium none;
    height: auto;
    overflow: hidden;
    width: 99%;
}

.home_feature_3_images_group {
    width: 99%;
}
.box_3_banner_title {
    width: 93%;
}
.box_3_banner_title h3 {
    font-size: 16px;
    height: 20px;
    margin: 0;
    overflow: hidden;
}
.box_3_banner_title p {
    font-size: 14px;
    height: 16px;
    margin: 0;
    overflow: hidden;
}
.home_feature_3_images_group {
    line-height: 0;
    float: left;
}
.iframe_6_items_list li {
    width: 49%;
    float: left;
}
.iframe_6_items_list li:last-child {
    float: right;
}
.iframe_6_items_list {
    width: 100%;
}
.iframe_6_items_list li img {
    height: auto;
    width: 100%;
}
.iframe_6_items_list li {
    float: left;
    margin: 0 0 2%;
    width: 48.5%;
}
.iframe_3_wide_banners li {
    width: 33.3%;
}
.iframe_3_wide_banners {
    width: 100%;
}
.ad_slider {
    width: 300%;
}