.home_top_banner_frame {
    display: block;
    float: none;
    margin: 15px auto;
    overflow: hidden;
    width: 98%;
}
.home_top_banner_3 {
    height: auto !important;
    margin-top: 20px;
    border-top: solid 1px #ddd;
}
.home_top_banner_3 .banner_item {
    height: auto !important;
    overflow-x: auto;
    width: 100% !important;
}
.home_top_banner_3_slide {
    width: 1430px;
}
.home_top_banner_frame {
    width: 100%;
    overflow: hidden;
}
.home_top_banner_1_2 {
    width: 100%;
}
.home_top_banner_1 {
    width: 69.8%;
}
.home_top_banner_2 {
    width: 29.9%;
}
.home_top_banner_frame .home_top_banner_1 .banner_item {
    width: 100% !important;
    height: auto !important;
}
.home_top_banner_frame .home_top_banner_1 .banner_item ul li {
    width: 100% !important;
}
.home_top_banner_frame .home_top_banner_2 .banner_item {
    width: 100% !important;
    height: auto !important;
}
.home_top_banner_frame .home_top_banner_2 .banner_item ul li {
    width: 100% !important;
}