a {
    color: #00695c;
}
body {
    font-family: "Arial"
}
.product_name_input {
    position: absolute;
    top: 26px;
    width: 90%;
    z-index: 1;
}
.product_images {
    
}
.product_images ul {
    margin: 0;
    padding: 0;
}
.product_images ul li {
    float: left;
    list-style: outside none none;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 91px;
}
.product_images ul li:last-child {
    margin-right: 0;
}
.product_images ul li img {
    width: 100%;
}
.preview_box_image_style {
    display: inline-block;
    width: 100%;
    border: dashed 2px #4caf50;
    background: #e8f5e9;
    overflow: hidden;
}
.image-checkbutton {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    height: 22px;
    margin-left: -23px;
    margin-top: 1px;
    padding: 0 2px;
    position: absolute;
    width: 22px;
    cursor: pointer;
}
.ad_link img {
    max-width: 100px;
}
.big-info {
    font-size: 18px;
}
.ad_summary .ad_summary_col {
    border-right: solid 1px #ddd;
}
.ad_summary .ad_summary_col:last-child {
    border-right: none;
}
.banner_info_overlay {
    
}
.ad_summary_col strong span {
    font-weight: normal;
}
.wizard > .actions > ul > li > a[href="#cancel"] {
    background-color: #fcfcfc;
    color: #333;
    border: 1px solid #ddd;
}
.box_4_style {
    cursor: pointer;
}
.box_4_style .preview_box_image, .box_4_style .preview_box_image_2, .box_4_style .preview_box_image_3, .box_4_style .preview_box_image_4 {
    float: left;
}
.box_4_style .preview_box_image {
    margin-right: -2px;
}
.box_4_style .preview_box_image_2 {
    margin-bottom: -2px;
}
.box_4_style .preview_box_image_3 {
    margin-bottom: -2px;
}
.no_active {
    opacity: 0.3;
}
.no_active:hover {
    opacity: 1;
}
.box_4_style_preview {
    width: 564px;
}
.box_4_style_preview .box {
    float: left;
    border: solid 1px #aaa;
}
.box_4_style_preview .box img {
    width: 100%;
}
.box_4_style_preview .box_1 {
    width: 420px;
    border-right: 0;
}
.box_4_style_preview .box_1 img {
    height: 428px;
}
.box_4_style_preview .box_2 {
    width: 144px;
    border-bottom: 0;
}
.box_4_style_preview .box_3 {
    width: 144px;
    border-bottom: 0;
}
.box_4_style_preview .box_4 {
    width: 144px;
}


.box_3_style {
    cursor: pointer;
    display: inline-block;
}
.box_3_style .preview_box_image, .box_3_style .preview_box_image_2, .box_3_style .preview_box_image_3 {
    float: left;
}
.box_3_style .preview_box_image {
    margin-bottom: -2px;
}
.box_3_style .preview_box_image_2 {
    margin-right: -2px;
}
.box_3_style .preview_box_image_3 {

}
.box_3_style_preview {
    width: 266px;
}
.box_3_style_preview .box {
    float: left;
    border: solid 1px #aaa;    
}
.box_3_style_preview .box img {
    width: 100%;
}
.box_3_style_preview .box_1 {
    width: 266px;
    border-bottom: 0;
}
.box_3_style_preview .box_2 {
    width: 133px;
    border-right: 0;
}
.box_3_style_preview .box_3 {
    width: 133px;
}
.fancybox-skin {
    padding: 0 !important;
}
.wizard > .steps .number {
    border-color: #888;
    color: #888;
}
.panel {
    /*border-color: #ff7043;*/
}
.panel-white > .panel-heading {
    background: #ff7043 none repeat scroll 0 0;
    border-bottom-color: #ff7043;
    color: #fff;
}
.steps {
    margin-bottom: 50px;
}
.navbar-inverse {
    background-color: #558b2f;
}
.sidebar {
    background-color: #558b2f;
}
.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #7cb342;
}
.panel-heading {
    padding: 10px 15px;
}
.navbar-brand {
    font-size: 22px;
}
.panel-flat > .panel-heading {
    background-color: #ff7043;
    color: #fff;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer {
    background: #333 none repeat scroll 0 0;
    border-top: 1px solid #aaa;
    bottom: 0;
    color: #fff;
    display: block;
    position: relative;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
@media screen and (min-width: 769px) {
    .footer {
        position: absolute;
        z-index: 100;
    }
    .content-wrapper {
        padding-bottom: 160px;
    }
}

.navbar-nav > .dropdown-user img, .media-left img:not(.media-preview), .media-right img:not(.media-preview), .thumbnail .media img:not(.media-preview) {
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.navbar-inverse {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 10px;
}
.bg-draft {
    background: #ff7043
}
.ad_status {
    border-radius: 20px;
    padding: 1px 8px;
}
.footer_inner {
    border-top: 2px solid #fff;
    display: block;
    float: left;
    padding: 20px 40px;
    width: 100%;
}
legend {
    font-size: 15px;
    color: #ff7043;
    font-weight: bold;
}
.width100 {
    width: 100%;
}
.ad_position_icon.icon-vcard {    
}
.ad_position_icon.icon-home2 {
    color: #e53238;
}
.ad_position_icon.icon-alarm {
    color: #ffa544;
}
.ad_position_icon.icon-cart5 {
    color: #1acfac;
}
.ad_position_icon.icon-transmission {
    color: #57BAE8;
}
.ad_position_icon.icon-users4 {
    color: #fe7477;
    width: 15px;
}
.ad_position_icon.icon-compose {
    color: #7ad04d;
}
.ad_position_icon.icon-earth {
    color: #c5a169;
}
.payment_type_group {
    
}
.daterangepicker .calendar {
    border-color: #4caf50;
}
.form-control:focus {
    border-color: #4caf50;
}
.select2-drop {
    border-color: #4caf50;
}
.select2-dropdown-open .select2-choice {
    border-color: #4caf50;
}
.bottom_group_info {
    margin: -10px 0 20px;
}
.deal_label_col label {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 3px;
}
.table td {
    vertical-align: top !important;
}
.demo-color {
    height: 115px;
}
.demo-color .box-count {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: inherit;
    display: block;
    float: left;
    font-size: 22px;
    height: auto;
    left: 5px;
    top: 17px;
    width: auto;
}
.demo-color .box-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: inherit;
    display: block;
    float: left;
    font-size: 15px;
    height: auto;
    left: 5px;
    line-height: 20px;
    text-align: left;
    top: 58px;
    width: auto;
}
.demo-color .box-background {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: inherit;
    height: auto;
    left: inherit;
    right: 0;
    top: 55px;
    width: auto;
}
.demo-color {

}
.demo-color .box-background i {
    color: rgba(0, 0, 0, 0.1);
    font-size: 50px;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.demo-color:hover .box-background i {
  color: rgba(0, 0, 0, 0.6);
}
.tooltip-inner {
    background: #00ba00;
}
.sale_product_name {
    display: block;
    height: 20px;
    overflow: hidden;
}
.order_details .form-group {
    margin-bottom: 5px;
}
.order_details .form-group label {
    display: block;
    position: absolute;
}
.order_details .form-group div {
    display: inline-block;
    margin-left: 80px;
}
.menu_bagde {
    border-radius: 20px;
    font-size: 13px;
    line-height: 16px;
    margin-top: 8px !important;
    padding: 2px 7px;
    position: relative;
    right: 5px;
    margin-right: 3px;
}
.sidebar-content {
    padding-bottom: 100px;
}
.demo-color.small_box {
    height: 80px;
}
.demo-color.small_box .box-count {
    top: 28px;
}
.demo-color.small_box .box-title {
    top: 7px;
}
.demo-color.small_box .box-background {
    top: 30px;
}
.demo-color.small_box .box-background i {
    font-size: 40px;
}
.dataTables_filter {
    display: none;
}
.navigation > li a {
    font-size: 16px;
}
.menu_bagde {
    z-index: 10;
}
.sell_count {
    position: absolute;
    margin-top: -2px;
}
.sidebar-xs-indicator .navbar-nav .dropdown-user .dropdown-menu-right a, .sidebar-xs-indicator .navbar-nav > .dropdown-user > a > span {
    font-size: 16px;
}
.sidebar-xs-indicator .navbar-nav .dropdown-user .sell_count {
    background: #ff7043;
    border: none;
    color: #fff;
}
.sidebar-xs-indicator .sidebar-content {
    padding-bottom: 0 !important;
}
.sidebar-xs-indicator .navbar-nav .dropdown-user .dropdown-menu-right {
    padding-bottom: 30px;
}
@media screen and (min-width: 450px) {
    .navigation > li a {
        font-size: 15px;
    }
}
video {
    background: #000;
    margin: 0 auto;
    display: block;
}