.product_name_input {
    position: absolute;
    top: 26px;
    width: 90%;
    z-index: 1;
}
.product_images {
    
}
.product_images ul {
    margin: 0;
    padding: 0;
}
.product_images ul li {
    float: left;
    list-style: outside none none;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 91px;
}
.product_images ul li:last-child {
    margin-right: 0;
}
.product_images ul li img {
    width: 100%;
}
.preview_box_image {
    display: inline-block;
    width: 100%;
    border: dashed 2px #4caf50;
    background: #e8f5e9;
    overflow: hidden;
}
.image-checkbutton {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #333;
    height: 22px;
    margin-left: -23px;
    margin-top: 1px;
    padding: 0 2px;
    position: absolute;
    width: 22px;
    cursor: pointer;
}
.ad_link img {
    max-width: 100px;
}
.big-info {
    font-size: 18px;
}
.ad_summary .ad_summary_col {
    border-right: solid 1px #ddd;
}
.ad_summary .ad_summary_col:last-child {
    border-right: none;
}
.banner_info_overlay {
    
}
.ad_summary_col strong span {
    font-weight: normal;
}
