				<%= render "corp_statistics" %>
					<!-- Ajax sourced data -->
					<div class="panel panel-flat datatable_box">
						<div class="panel-heading">
							<h5 class="panel-title">Danh sách DEAL đang cộng tác</h5>							
						</div>
						<!--<div class="panel-body">
							<form class="datatable_filter">
								<div class="row">
									<div class="col-md-1" style="min-width: 140px">
										<label>Vị trí đặt Quảng cáo</label>
									</div>
									<div class="col-md-5">										
										<%= select_tag "ad_position_id", options_for_select(AdPosition.all_items.collect {|p| [p.display_name_option, p.id ] }), {include_blank: "Tất cả", class: "select_ad_position width100"} %>
									</div>
								</div>
							</form>
						</div>-->
                        <hr style="margin:0" />
						<table class="table table-striped table-hover no-footer datatable-ajax" url="<%= corp_deals_deals_path(format: "json") %>">
							<thead>
								<tr class="border-double">
                                    <th width="1%">Hình</th>
					                <th class="text-nowrap">Sản phẩm</th>					                
					                <th class="text-nowrap">Giá (VNĐ)</th>
									<th class="text-nowrap">Đơn vị</th>
                                    <th class="text-nowrap">Thời gian</th>	
					                <th class="text-nowrap">Đã bán</th>
                                    <th class="text-nowrap">Thu nhập</th>
                                    <th class="text-nowrap">Thao tác</th>
					            </tr>
							</thead>
						</table>
					</div>
					<!-- /ajax sourced data -->
					
					
