                    <style>
                      .dataTables_filter {
                        display: block;
                      }
                    </style>
                    
                    <!-- Ajax sourced data -->
					<div class="panel panel-flat datatable_box">
						<div class="panel-heading">
							<h5 class="panel-title">Quản lý vùng miền</h5>
                            
						</div>
                        
                        <!--<div class="panel-body">
							<form class="datatable_filter">
								<div class="row">
									<div class="col-md-1" style="min-width: 140px">
										<label>Tìm kiếm</label>
									</div>
									<div class="col-md-6">										
										<input type="text" name="keyword" class="form-control" />
									</div>
								</div>
							</form>
						</div>-->
                        
						<table class="table table-striped table-hover no-footer datatable-ajax" url="<%= pb_areas_path(format: "json") %>">
							<thead>
								<tr class="border-double">
									<th class="text-nowrap" width="1%">Thông báo</th>
									<th class="text-nowrap" width="1%">Giới thiệu</th>
									<th class="text-nowrap" width="1%">Nhu cầu mua</th>
									<th class="text-nowrap" width="1%">Tìm đối tác</th>
                                    <th class="text-nowrap">Tên</th>
                                    <th class="text-nowrap">Thao tác</th>
					            </tr>
							</thead>
						</table>
					</div>
					<!-- /ajax sourced data -->
					
					
