				
					<!-- Ajax sourced data -->
					<div class="panel panel-flat datatable_box">
						<div class="panel-heading">
							<h5 class="panel-title">Danh sách Thông tin địa lý - Vùng miền</h5>
						</div>						
						<table class="table table-striped table-hover no-footer datatable-ajax" url="<%= datatable_pb_areatypeinfos_path(format: "json") %>">
							<thead>
								<tr class="border-double">
                                    <th>Khu vực</th>
					                <th>Nội dung</th>					                
					                <th>Người tạo</th>					                
					                <th>Ngày tạo</th>
									<th>Trạng thái</th>
									<th></th>
					            </tr>
							</thead>
						</table>
					</div>
					<!-- /ajax sourced data -->
					
					<!-- Ajax sourced data -->
					<div class="panel panel-flat datatable_box">
						<div class="panel-heading">
							<h5 class="panel-title">Danh sách Thông tin địa lý - Tỉnh/Thành; Quận/Huyện</h5>
						</div>						
						<table class="table table-striped table-hover no-footer datatable-ajax" url="<%= datatable_pb_areainfos_path(format: "json") %>">
							<thead>
								<tr class="border-double">
                                    <th>Khu vực</th>
					                <th>Nội dung</th>					                
					                <th>Người tạo</th>					                
					                <th>Ngày tạo</th>
									<th>Trạng thái</th>
									<th></th>
					            </tr>
							</thead>
						</table>
					</div>
					<!-- /ajax sourced data -->
					
					
